{% extends 'home.html' %}
{% block body %}
<table align="center" border="2">
    <tr>
        <tr>
        <form action="/saveproduct/" method="post">
            {% csrf_token %}
            <table>

                <tr>
                    <th>Product Name</th>
                    <th><input type="text" name="prodname" required></th>
                </tr>
                <tr>
                    <th>Product Price</th>
                    <th><input type="number" name="prodprice" required></th>
                </tr>
                <tr>
                    <th>Product Quantity</th>
                    <th><input type="number" name="prodqty" required></th>
                </tr>
                <tr>
                    <th><input type="number" name="merchantid" value="{{ data }}" hidden required></th>
                </tr>
                <tr>
                    <th colspan="2"><input type="submit"></th>
                </tr>

            </table>
        </form>
        </tr>

    <tr>
        <table align="left" border="2">
            <tr>
                <th>Product id Id</th>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Product Quantity</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% if prodata %}
                {% for x in prodata %}
                <tr>

                <td>{{ x.pk }}</td>
                <td>{{ x.fields.prod_name }}</td>
                <td>{{ x.fields.prod_price }}</td>
                    <td>{{ x.fields.prod_qty }}</td>
                <td>
                    <a href="/showupdate{{ x.pk }}/">Update</a>
                </td>
                <td>
                <a href="/deleteprodu{{ x.pk }}">Delete</a>
                </td>

                </tr>
                {% endfor %}
            {% endif %}

            </table>
</tr>
</table>
{% endblock %}

    {% block message %}
        {% endblock %}

