<form action="/checkchangepas/" method="post">
    <table align="center" border="2">
        {% csrf_token %}
        <tr>
            <th>Uesr Id</th>
            <th><input type="email" name="email" placeholder="Enter Your Email" required></th>
        </tr>
        <tr>
            <th>Old Password</th>
            <th><input type="password" name="oldp" placeholder="Enter Old password" required></th>
        </tr>
        <tr>
            <th>New Password</th>
            <th><input type="password" name="new1" placeholder="Enter New password" required></th>
        </tr>
        <tr>
            <th> RE Enter Password</th>
            <th><input type="password" name="new2" placeholder="Re Enter  your password" required></th>
        </tr>
        <tr>
            <th colspan="2"><input type="submit"></th>
        </tr>

    </table>
</form>